[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
[Pp]ackages/com.unity.*
[Ll]ibrary/PackageCache/

.vs/
.vscode/
*.csproj
*.sln
*.user
*.unityproj

.DS_Store
Thumbs.db
Packages/com.ptc.vuforia.engine-*.tgz
Packages/com.ptc.vuforia.engine-*.tgz
